<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veloce</title>
    <script src="js/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="imagenes/logo_small_icon_only.jpeg">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body class="bodyven">


    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
      </div>
    
      <div class="container1">
        <nav class="nav-main">
            
          <img src="imagenes/logo_small.jpeg" alt="TechNews Logo" class="nav-brand">
        
          <ul class="menu">
            <li>
              <a href="#">Categorias</a>
            </li>
          </ul>
          
          
          
          <div class="logoa">
            <p><%= uss %></p>
              <img src="imagenes/logo_small_icon_only.jpeg" alt="">
              <button id="botonnn"><a href="cerrar">Cerrar sesion</a></button>
          </div>
    
          
        </nav>
      </div>


      
      <div class="cate"><a href="/vistacompradorusuario">Volver a vista Comprador</a></div>

      <div class="espacio"></div>

      <table class="table10">

        <thead>
          <tr>
              <th>TIPO</th>
          </tr>
      </thead>

        <tr class="trcat">
          <td>
            <a>Pick up</a>
        </td>
        <td><a href="/dentrocategoria1usu"><input type="submit" value="Ver"></a></td>
      </tr>

    <tr>
      <td>
        <a href="#">Furgoneta</a>
    </td>
    <td><a href="/dentrocategoria2usu"><input type="submit" value="Ver"></a></td>
  </tr>

  <tr>
    <td>
      <a href="#">Camioneta</a>
      <td><a href="/dentrocategoria3usu"><input type="submit" value="Ver"></a></td>
  </td>
</tr>

<tr>
  <td>
    <a href="#">Mini van</a>
</td>
<td><a href="/dentrocategoria4usu"><input type="submit" value="Ver"></a></td>
</tr>
      </table>




<div class="espacio2"></div>


<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/main.js"></script>
</body>
</html>