<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
</head>

<body background="imagenes/fondo.png"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      <ul class="menu">
        <li>
          <a href="/index">Inicio
          </a>
        </li>
        <li>
          <a href="/acercadenosotros">Acerca de nosotros</a>
        </li>
        <li>
          <a href="/necesidades">Necesidades</a>
        </li>
        <li>
          <a href="/productos">Productos y Servicios</a>
        </li>

      </ul>


      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>
    
    
    <header class="showcase">
      <h2>Banco Alianza</h2>
      <p>Siempre junto a ti</p>
      
      <a href="acercadenosotros.html" class="btn">
        VER <i class="fas fa-chevron-right"></i>
      </a>
    </header>

  

    <!--eslogan   siempre junto a ti-->

    <!-- <h3 class="centro">FORMULARIOS: </h3>

    <div class="news-cards">
      <div>
        <img src="imagenes/usuario.jpg" alt="" />
        <h3>Formulario Usuarios</h3>
        <p>Si no tienes un usuario asignado ingresa.</p>
        <a href="usu.html">Ver<i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="imagenes/cliente.jpg" alt="" />
        <h3>Formulario Clientes</h3>
        <p>Da click</p>
        <a href="cli.html">Ver <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="imagenes/empleado.jpg" alt="" />
        <h3>Formulario Empleado</h3>
        <p>Da click</p>
        <a href="empleado.html">Ver <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="imagenes/credito.jpg" alt="" />
        <h3>Formulario Lineas de credito</h3>
        <p>Da click</p>
        <a href="lineas_credito.html">Ver <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>-->

    


    <!-- hoja-->
    <!--<div class="news-cards">
       <div>
        <img src="imagenes/prod.jpg" alt="" />
        <h3>Formulario Producto cliente</h3>
        <p>Da click</p>
        <a href="productocliente.html">Ver <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="imagenes/cuenta.jpeg" alt="" />
        <h3>Formulario Cuenta de ahorros</h3>
        <p>Da click</p>
        <a href="cuentaahorros.html">Ver <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="imagenes/cred.jpg" alt="" />
        <h3>Formulario Credito cliente</h3>
        <p>Da click</p>
        <a href="credito_cliente.html">Ver <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="imagenes/ultima.PNG" alt="" />
      </div>
      
      
    </div>-->

    <img id="espacio1" src="imagenes/ultima.PNG" alt="" />
    
    <!-- letrero login-->
    <section class="cards-banner-one">
      <div class="content">
        <h2>Sucursal Virtual</h2>
        <p>Ingresa a nuestra sucursal virtual para registrate en nuestro LOGIN.</p>
        <a href="/" class="btn">Ver<i class="fas fa-chevron-right"></i></a>
      </div>
    </section>


    <!--cuadros-->
 <div class="rox1">
  <div class="contenedor1">
      <div class="caja1">
          <div class="icono1"><i class=" il fas fa-wallet"></i></div>
          <div class="contenido1">
              <h3>Como manejar tu dinero</h3>
              <p> Aprende a manejar tus finanzas para que logres tus objetivos.</p><br>
              <a href="manejardinero.html" class="btn">Ver<i class="fas fa-chevron-right"></i></a>
          </div>
      </div>
      <div class="caja1">
              <div class="icono1"><i class="il fas fa-money-check-alt"></i></div>
              <div class="contenido1">
                  <h3>Inversiones</h3>
                  <p>Aprende cómo invertir de forma inteligente y responsable.</p><br>
                  <a href="mejoresinver.html" class="btn">Ver<i class="fas fa-chevron-right"></i></a>
              </div>
      </div>
      <div class="caja1">
                  <div class="icono1"><i class=" il fas fa-user-friends"></i></div>
                  <div class="contenido1">
                      <h3>Seguridad</h3>
                      <p>Conoce como protege tu información personal y dinero.</p><br>
                      <a href="aprendesegur.html" class="btn">Ver<i class="fas fa-chevron-right"></i></a>
                  </div>          
      </div>

      <div class="caja1">
        <div class="icono1"><i class=" il far fa-question-circle"></i></div>
        <div class="contenido1">
          <h3>Preguntas frecuentes</h3>
          <p>Conoce los comentarios y opiniones sobre nosotros. </p><br>
          <a href="preguntasfrec.html" class="btn">Ver<i class="fas fa-chevron-right"></i></a>
        </div>          
</div>

  </div>
  </div>
  <!--fin cuadros-->

   




    <!--iconos de redes-->
    <section class="social">
      <p>Visitanos</p>
      <div class="links">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>
  </div>

  <!--Cuadro del final-->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="#">
            <h3>Contáctanos</h3>
          </a>
        </li>
        <li>
          <a href="">Cl. 3 #1-12, Mosquera, Cundinamarca</a>
        </li>
        <li>
          <a href="">Colombia</a>
        </li>
        <li>
          <a href="">Mosquera 3229203272</a>
        </li>
        <li>
          <a href="">Copyright © 2021 Banco Alianza</a>
        </li>
      </ul>
    </div>
  </div>

  <footer class="final">
    <h3>Banco Alianza</h3>
    <h5><script> document.write(new Date()) </script><h4></h5>
  </footer>

  <!-- Scroll Reveal -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="js/main.js"></script>
</body>

</html>