<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Alianza</title>
  <script src="js/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="imagenes/simbolo.PNG">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="css/estilo.css">
</head>

<body background="imagenes/loginfon.PNG"></body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">
      <img src="imagenes/logo1.PNG" alt="TechNews Logo" class="nav-brand">
      <ul class="menu">
        <li>
          <a href="/index">Inicio
          </a>
        </li>
        <li>
          <a href="/acercadenosotros">Acerca de nosotros</a>
        </li>
        <li>
          <a href="/necesidades">Necesidades</a>
        </li>
        <li>
          <a href="/productos">Productos y Servicios</a>
        </li>

      </ul>


      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>

    <br>
   

                     

                     <div class="entry-form3">
                          <form action="/login" method="POST">
                               <h2>Login<br>Bienvenido</h2><br>
                               <br><input type="text" name="fullname" class="form-control3" placeholder="Digite su Usuario" required="">
                               <input type="password" name="password" class="form-control3" placeholder="Digite su Clave" required=""><br>
                               <button class="submit-btn form-control" id="form-submit">Ingresar</button>
                               
                              </form>
                     </div>

 </section>


<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/main.js"></script>

</body>

</html>